.border{
    border: 2px solid black;
    margin:1px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items:center;
}

.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: rgb(26, 25, 25);
}
.p-1{
    padding:5px;
}
.r-1{
    border-radius: 10px;;
}
.m-1{
    margin:3px;
}